<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="baptismHistory">
      <h2 data-cy="baptismHistoryDetailsHeading">
        <span lutheranTranslate="lutheranappApp.baptismHistory.detail.title">Baptism History</span>
      </h2>

      <hr />

      <lutheran-alert-error></lutheran-alert-error>

      <lutheran-alert></lutheran-alert>

      <dl class="row-md jh-entity-details">
        <dt><span lutheranTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ baptismHistory.id }}</span>
        </dd>
        <dt><span lutheranTranslate="lutheranappApp.baptismHistory.parishName">Parish Name</span></dt>
        <dd>
          <span>{{ baptismHistory.parishName }}</span>
        </dd>
        <dt><span lutheranTranslate="lutheranappApp.baptismHistory.baptismDate">Baptism Date</span></dt>
        <dd>
          <span>{{ baptismHistory.baptismDate | formatMediumDate }}</span>
        </dd>
        <dt><span lutheranTranslate="lutheranappApp.baptismHistory.confirmedDate">Confirmed Date</span></dt>
        <dd>
          <span>{{ baptismHistory.confirmedDate | formatMediumDate }}</span>
        </dd>
        <dt><span lutheranTranslate="lutheranappApp.baptismHistory.parishBaptisedAt">Parish Baptised At</span></dt>
        <dd>
          <span>{{ baptismHistory.parishBaptisedAt }}</span>
        </dd>
        <dt><span lutheranTranslate="lutheranappApp.baptismHistory.prishedConfirmedAt">Prished Confirmed At</span></dt>
        <dd>
          <span>{{ baptismHistory.prishedConfirmedAt }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/baptism-history', baptismHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
