.league-header {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-left: 60%;
  padding-top: 10%;
}

.league-mat-card {
  width: 500px;
}

.button-span {
  padding-top: 50px;
  padding-bottom: 50px;
}

.league-detail-mat-card {
  height: 100%;
  color: #ffffff;
  background-color: #B70404;
}
