<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="marriageHistory">
      <h2 data-cy="marriageHistoryDetailsHeading">
        <span lutheranTranslate="lutheranappApp.marriageHistory.detail.title">Marriage History</span>
      </h2>

      <hr />

      <lutheran-alert-error></lutheran-alert-error>

      <lutheran-alert></lutheran-alert>

      <dl class="row-md jh-entity-details">
        <dt><span lutheranTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ marriageHistory.id }}</span>
        </dd>
        <dt><span lutheranTranslate="lutheranappApp.marriageHistory.marriageDate">Marriage Date</span></dt>
        <dd>
          <span>{{ marriageHistory.marriageDate | formatMediumDate }}</span>
        </dd>
        <dt><span lutheranTranslate="lutheranappApp.marriageHistory.parishMarriedAt">Parish Married At</span></dt>
        <dd>
          <span>{{ marriageHistory.parishMarriedAt }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/marriage-history', marriageHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
