<form *ngIf="dependant" name="deleteForm" (ngSubmit)="confirmDelete(dependant.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="dependantDeleteDialogHeading" lutheranTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <lutheran-alert-error></lutheran-alert-error>
    <p
      id="lutheran-delete-dependant-heading"
      lutheranTranslate="lutheranappApp.dependant.delete.question"
      [translateValues]="{ id: dependant.id }"
    >
      Are you sure you want to delete Dependant {{ dependant.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="lutheran-confirm-delete-dependant" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
