<div>
  <h2 id="page-heading" data-cy="ContributionHeading">
    <span lutheranTranslate="lutheranappApp.contribution.home.title">Contributions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span lutheranTranslate="lutheranappApp.contribution.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contribution"
        [routerLink]="['/contribution/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span lutheranTranslate="lutheranappApp.contribution.home.createLabel"> Create a new Contribution </span>
      </button>
    </div>
  </h2>

  <lutheran-alert-error></lutheran-alert-error>

  <lutheran-alert></lutheran-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contributions?.length === 0">
    <span lutheranTranslate="lutheranappApp.contribution.home.notFound">No Contributions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="contributions && contributions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr lutheranSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" lutheranSortBy="id">
            <div class="d-flex">
              <span lutheranTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="contributionType">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.contribution.contributionType">Contribution Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="frequency">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.contribution.frequency">Frequency</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="month">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.contribution.month">Month</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="amount">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.contribution.amount">Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="congregant.surname">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.contribution.congregant">Congregant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contribution of contributions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contribution', contribution.id, 'view']">{{ contribution.id }}</a>
          </td>
          <td lutheranTranslate="{{ 'lutheranappApp.ContributionType.' + contribution.contributionType }}">
            {{ contribution.contributionType }}
          </td>
          <td lutheranTranslate="{{ 'lutheranappApp.Frequency.' + contribution.frequency }}">{{ contribution.frequency }}</td>
          <td>{{ contribution.month | formatMediumDate }}</td>
          <td>{{ contribution.amount }}</td>
          <td>
            <div *ngIf="contribution.congregant">
              <a [routerLink]="['/congregant', contribution.congregant.id, 'view']">{{ contribution.congregant.surname }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contribution', contribution.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contribution', contribution.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contribution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contributions && contributions.length > 0">
    <div class="d-flex justify-content-center">
      <lutheran-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></lutheran-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
