<div>
  <h2 id="page-heading" data-cy="BaptismHistoryHeading">
    <span lutheranTranslate="lutheranappApp.baptismHistory.home.title">Baptism Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span lutheranTranslate="lutheranappApp.baptismHistory.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-baptism-history"
        [routerLink]="['/baptism-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span lutheranTranslate="lutheranappApp.baptismHistory.home.createLabel"> Create a new Baptism History </span>
      </button>
    </div>
  </h2>

  <lutheran-alert-error></lutheran-alert-error>

  <lutheran-alert></lutheran-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="baptismHistories?.length === 0">
    <span lutheranTranslate="lutheranappApp.baptismHistory.home.notFound">No Baptism Histories found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="baptismHistories && baptismHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr lutheranSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" lutheranSortBy="id">
            <div class="d-flex">
              <span lutheranTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="parishName">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.baptismHistory.parishName">Parish Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="baptismDate">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.baptismHistory.baptismDate">Baptism Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="confirmedDate">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.baptismHistory.confirmedDate">Confirmed Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="parishBaptisedAt">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.baptismHistory.parishBaptisedAt">Parish Baptised At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="prishedConfirmedAt">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.baptismHistory.prishedConfirmedAt">Prished Confirmed At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let baptismHistory of baptismHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/baptism-history', baptismHistory.id, 'view']">{{ baptismHistory.id }}</a>
          </td>
          <td>{{ baptismHistory.parishName }}</td>
          <td>{{ baptismHistory.baptismDate | formatMediumDate }}</td>
          <td>{{ baptismHistory.confirmedDate | formatMediumDate }}</td>
          <td>{{ baptismHistory.parishBaptisedAt }}</td>
          <td>{{ baptismHistory.prishedConfirmedAt }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/baptism-history', baptismHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/baptism-history', baptismHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(baptismHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="baptismHistories && baptismHistories.length > 0">
    <div class="d-flex justify-content-center">
      <lutheran-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></lutheran-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
