<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" (submit)="save()" [formGroup]="editForm" class="example-form">
      <h2 id="lutheran-league-heading" data-cy="LeagueCreateUpdateHeading" lutheranTranslate="lutheranappApp.league.home.createOrEditLabel">
        Create or edit a League
      </h2>
      <lutheran-alert-error></lutheran-alert-error>
      <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
        <label class="form-label" lutheranTranslate="global.field.id" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>League Name</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Ex. Women's league">
            <mat-error *ngIf="editForm.get('name')?.errors?.required">
              Name is <strong>required</strong>.
            </mat-error>
            <mat-error *ngIf="editForm.get('name')?.errors?.maxlength">
              Name can not be more than 100 characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label lutheranTranslate="lutheranappApp.league.description">League Description</mat-label>
            <textarea formControlName="description" matInput placeholder="Ex. This is an organisation that..."></textarea>
            <mat-error lutheranTranslate="entity.validation.required" *ngIf="editForm.get('description')?.errors?.required">
              Description is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Custom calendar header</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="createdDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
<!--        <div class="col-md-6">-->
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Favorite food</mat-label>-->
<!--            <mat-select formControlName="congregants">-->
<!--              <mat-option *ngFor="let congregantOption of congregantsSharedCollection" [value]="congregantOption">-->
<!--                {{ congregantOption.surname }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
      </div>
      <button mat-raised-button type="button" color="accent">
        <span lutheranTranslate="entity.action.cancel">Cancel</span>
      </button>
      <button mat-raised-button type="submit" [disabled]="editForm.invalid || isSaving" color="primary">
        <span lutheranTranslate="entity.action.save">Save</span>
      </button>
    </form>
  </div>
</div>
