<div>
  <h2 id="page-heading" data-cy="DependantHeading">
    <span lutheranTranslate="lutheranappApp.dependant.home.title">Dependants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span lutheranTranslate="lutheranappApp.dependant.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dependant"
        [routerLink]="['/dependant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span lutheranTranslate="lutheranappApp.dependant.home.createLabel"> Create a new Dependant </span>
      </button>
    </div>
  </h2>

  <lutheran-alert-error></lutheran-alert-error>

  <lutheran-alert></lutheran-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dependants?.length === 0">
    <span lutheranTranslate="lutheranappApp.dependant.home.notFound">No Dependants found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dependants && dependants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr lutheranSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" lutheranSortBy="id">
            <div class="d-flex">
              <span lutheranTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="fullNames">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.dependant.fullNames">Full Names</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="dateOfBirth">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.dependant.dateOfBirth">Date Of Birth</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="gender">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.dependant.gender">Gender</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" lutheranSortBy="congregant.surname">
            <div class="d-flex">
              <span lutheranTranslate="lutheranappApp.dependant.congregant">Congregant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dependant of dependants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dependant', dependant.id, 'view']">{{ dependant.id }}</a>
          </td>
          <td>{{ dependant.fullNames }}</td>
          <td>{{ dependant.dateOfBirth | formatMediumDate }}</td>
          <td lutheranTranslate="{{ 'lutheranappApp.Gender.' + dependant.gender }}">{{ dependant.gender }}</td>
          <td>
            <div *ngIf="dependant.congregant">
              <a [routerLink]="['/congregant', dependant.congregant.id, 'view']">{{ dependant.congregant.surname }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/dependant', dependant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/dependant', dependant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(dependant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" lutheranTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="dependants && dependants.length > 0">
    <div class="d-flex justify-content-center">
      <lutheran-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></lutheran-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
