<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="region">
      <h2 data-cy="regionDetailsHeading"><span lutheranTranslate="lutheranappApp.region.detail.title">Region</span></h2>

      <hr />

      <lutheran-alert-error></lutheran-alert-error>

      <lutheran-alert></lutheran-alert>

      <dl class="row-md jh-entity-details">
        <dt><span lutheranTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ region.id }}</span>
        </dd>
        <dt><span lutheranTranslate="lutheranappApp.region.regionName">Region Name</span></dt>
        <dd>
          <span>{{ region.regionName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/region', region.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
