<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="lutheran-post-heading" data-cy="PostCreateUpdateHeading" lutheranTranslate="lutheranappApp.post.home.createOrEditLabel">
        Create or edit a Post
      </h2>

      <div>
        <lutheran-alert-error></lutheran-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" lutheranTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" lutheranTranslate="lutheranappApp.post.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.required"
              lutheranTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.maxlength"
              lutheranTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 250 }"
            >
              This field cannot be longer than 250 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" lutheranTranslate="lutheranappApp.post.subtitle" for="field_subtitle">Subtitle</label>
          <input type="text" class="form-control" name="subtitle" id="field_subtitle" data-cy="subtitle" formControlName="subtitle" />
          <div *ngIf="editForm.get('subtitle')!.invalid && (editForm.get('subtitle')!.dirty || editForm.get('subtitle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('subtitle')?.errors?.maxlength"
              lutheranTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 250 }"
            >
              This field cannot be longer than 250 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" lutheranTranslate="lutheranappApp.post.description" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              lutheranTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" lutheranTranslate="lutheranappApp.post.postedDate" for="field_postedDate">Posted Date</label>
          <div class="input-group">
            <input
              id="field_postedDate"
              data-cy="postedDate"
              type="text"
              class="form-control"
              name="postedDate"
              ngbDatepicker
              #postedDateDp="ngbDatepicker"
              formControlName="postedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="postedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('postedDate')!.invalid && (editForm.get('postedDate')!.dirty || editForm.get('postedDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('postedDate')?.errors?.required"
              lutheranTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" lutheranTranslate="lutheranappApp.post.image" for="field_image">Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('image')!.value"
              alt="post image"
            />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_image"
              data-cy="image"
              (change)="setFileData($event, 'image', true)"
              accept="image/*"
              lutheranTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
          <div *ngIf="editForm.get('image')!.invalid && (editForm.get('image')!.dirty || editForm.get('image')!.touched)"></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" lutheranTranslate="lutheranappApp.post.congregant" for="field_congregant">Congregant</label>
          <select
            class="form-control"
            id="field_congregant"
            data-cy="congregant"
            name="congregant"
            formControlName="congregant"
            [compareWith]="compareCongregant"
          >
            <option *ngIf="editForm.get(['congregant'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="congregantOption" *ngFor="let congregantOption of congregantsSharedCollection">
              {{ congregantOption.surname }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['congregant'])!.invalid && (editForm.get(['congregant'])!.dirty || editForm.get(['congregant'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['congregant'])?.errors?.required"
            lutheranTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span lutheranTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
